<template>
  <div
    class="alert fixed transition-all duration-300 invisible opacity-0 text-white bg-opacity-50 border rounded py-2 px-6"
    :class="alertClass"
  >
    {{ alert && alert.message }}!
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Mutation, State } from "vuex-class";
import { AlertTypes } from "../interfaces/store-types";

@Component
export default class Alert extends Vue {
  @Prop({ type: String, default: "success" }) readonly type!: string;

  @State readonly alert!: AlertTypes;
  @Mutation readonly setAlert!: (data: null) => void;

  get alertClass() {
    const visibilityClass =
      this.alert && this.alert.visibility ? "visible" : "";

    const alertTypeClass =
      this.alert && this.alert.type === "success"
        ? "bg-c-green border-c-green"
        : "bg-red-500 border-red-500";

    return `${visibilityClass} ${alertTypeClass}`;
  }
}
</script>

<style lang="scss">
.alert {
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  &.visible {
    @apply visible;
    @apply opacity-100;
    transform: translateX(-50%) translateY(1.5rem);
  }
}
</style>
