<template>
  <div class="relative">
    <div
      class="flex items-center py-2 px-4 border border-c-gray-300 rounded-sm cursor-pointer hover:bg-c-gray-200 transition-colors duration-150"
      @click="toggleSelect()"
    >
      <span>{{ perPage }} Per Page</span>
      <div
        class="ml-2 origin-center transition-transform duration-150"
        :class="{ 'transform -rotate-180': isOpen }"
      >
        <img :src="Arrow2Down" alt="arrow-down" />
      </div>
    </div>

    <div
      class="options absolute right-0 overflow-y-scroll invisible opacity-0 transition-all duration-150 rounded bg-white shadow-md min-w-full p-4 text-sm box-content"
      :class="{ 'options-opened': isOpen }"
    >
      <Radio
        v-for="item in perPageOptions"
        :key="item"
        :value="item"
        :checked="isChecked(item)"
        @change="onSelectChange"
        class="my-4 first:mt-0 last:mb-0"
      >
        <template #label>
          <div class="ml-3">{{ item }} Per Page</div>
        </template>
      </Radio>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { Mutation, State } from "vuex-class";

import Radio from "./Radio.vue";
import Arrow2Down from "@/assets/images/arrow2-down.svg";

@Component({
  components: {
    Radio
  }
})
export default class SelectTool extends Vue {
  @State readonly perPage!: number;
  @Mutation readonly setPageIndex!: (id: number) => void;
  @Mutation readonly setPerPage!: (id: number) => void;

  private isOpen = false;

  readonly perPageOptions: number[] = [10, 15, 20];

  Arrow2Down: string = Arrow2Down;

  isChecked(option: number) {
    return option === this.perPage;
  }

  onSelectChange({ value }: any) {
    this.setPageIndex(0);
    this.setPerPage(value);
    this.isOpen = !this.isOpen;
  }

  toggleSelect() {
    this.isOpen = !this.isOpen;
  }
}
</script>

<style lang="scss">
.options {
  top: 0;
  z-index: 1;
  max-height: 215px;

  &.options-opened {
    top: calc(100% + 0.75rem);
    @apply visible;
    @apply opacity-100;
  }
}
</style>
