<template>
  <div class="flex items-center">
    <div class="mx-2">
      <PaginatorSelect />
    </div>

    <div class="c-btn" @click="prevPage">
      <img :src="Arrow2Left" alt="" />
    </div>

    <div class="flex items-center">
      <span class="font-semibold">
        {{ fromPageText }}-{{ pageIndex + perPage }}
      </span>
      <span class="mx-1">of</span>
      <span class="font-semibold">{{ products.length }}</span>
    </div>

    <div class="c-btn" @click="nextPage">
      <img :src="Arrow2Right" alt="" />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { Mutation, State } from "vuex-class";

import Arrow2Left from "@/assets/images/arrow2-left.svg";
import Arrow2Right from "@/assets/images/arrow2-right.svg";
import PaginatorSelect from "./PaginatorSelect.vue";
import { ProductTypes } from "../interfaces";

@Component({
  components: { PaginatorSelect }
})
export default class Paginator extends Vue {
  @State readonly perPage!: number;
  @State readonly pageIndex!: number;
  @State readonly products!: ProductTypes[];
  @Mutation readonly setPageIndex!: (id: number) => void;

  Arrow2Left: string = Arrow2Left;
  Arrow2Right: string = Arrow2Right;

  get fromPageText() {
    return this.pageIndex + 1;
  }

  get toPageText() {
    return this.pageIndex + this.perPage <= this.products.length
      ? this.pageIndex + this.perPage
      : this.products.length;
  }

  prevPage() {
    if (this.pageIndex - this.perPage >= 0) {
      this.setPageIndex(this.pageIndex - this.perPage);
    }
  }

  nextPage() {
    if (this.pageIndex + this.perPage < this.products.length) {
      this.setPageIndex(this.pageIndex + this.perPage);
    }
  }
}
</script>

<style lang="scss">
.c-btn {
  @apply flex;
  @apply border;
  @apply border-c-gray-300;
  @apply rounded-sm;
  @apply mx-2;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
</style>
