<template>
  <div class="relative">
    <div @click="togglePromt(true)"><slot /></div>

    <div
      class="promt-body invisible opacity-0 transition-all duration-200 inline-flex flex-col absolute box-content rounded bg-white shadow-md text-center text-sm p-4"
      :class="{ visible: isVisible }"
    >
      <div class="whitespace-no-wrap">
        Are you sure you want to
        <span class="inline-block font-semibold">delete item</span>?
      </div>

      <div class="flex justify-center mt-2">
        <div
          class="py-1 px-4 mx-2 border border-c-gray-300 text-c-black-100 hover:bg-gray-200 transition-all duration-300 rounded-sm cursor-pointer"
          @click="togglePromt(false)"
        >
          Cancel
        </div>

        <div
          class="py-1 px-4 mx-2 border border-c-green bg-c-green text-white cursor-pointer hover:bg-opacity-75 transition-all duration-300 rounded-sm"
          @click="confirmAction"
        >
          Confirm
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class Promt extends Vue {
  @Prop({ type: Function, required: true }) readonly onConfirm!: () => void;
  @Prop({ type: Boolean, default: true })
  readonly visibilityCondition!: boolean;

  private isVisible = false;

  togglePromt(status: boolean): void {
    if (this.visibilityCondition) {
      this.isVisible = status;
    }
  }

  confirmAction() {
    this.onConfirm();
    this.togglePromt(false);
  }
}
</script>

<style lang="scss">
.promt-body {
  top: 0;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);

  &.visible {
    top: calc(100% + 0.5rem);
    @apply visible;
    @apply opacity-100;
  }
}
</style>
