<template>
  <div class="custom-checkbox">
    <input
      type="radio"
      name="product"
      :id="itemID"
      :checked="checked || false"
      @change="onChange"
      hidden
    />
    <label :for="itemID" class="flex items-center">
      <div
        class="checkbox-mark flex items-center justify-center border border-c-gray-300 rounded-sm transition-colors duration-100"
      >
        <img
          class="opacity-0 transition-opacity duration-100"
          :src="mark"
          alt="mark"
        />
      </div>

      <slot name="label" />
    </label>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

import mark from "@/assets/images/mark.svg";

@Component
export default class Checkbox extends Vue {
  @Prop({ type: Number, required: true }) readonly value!: number;
  @Prop(Boolean) readonly checked!: boolean;

  readonly mark: string = mark;
  private readonly ID: string = `${Date.now()}-${Math.random()}`;

  get itemID() {
    return `checkbox-item-${this.ID}-${this.value}`;
  }

  onChange(event: any) {
    this.$emit("change", {
      value: this.value,
      selected: event.target.checked
    });
  }
}
</script>

<style lang="scss" scoped>
.custom-checkbox {
  input {
    &:checked {
      & + label {
        .checkbox-mark {
          @apply bg-c-green;
          @apply border-c-green;

          img {
            @apply opacity-100;
          }
        }
      }
    }
  }

  label {
    @apply cursor-pointer;
  }

  .checkbox-mark {
    width: 14px;
    height: 14px;
  }
}
</style>
