<template>
  <div class="relative">
    <div
      class="flex items-center py-2 px-4 border border-c-gray-300 rounded-sm cursor-pointer hover:bg-c-gray-200 transition-colors duration-150"
      @click="toggleSelect()"
    >
      <span>{{ columns.length }} columns selected</span>
      <div
        class="ml-2 origin-center transition-transform duration-150"
        :class="{ 'transform -rotate-180': isOpen }"
      >
        <img :src="Arrow2Down" alt="arrow-down" />
      </div>
    </div>

    <div
      class="options absolute right-0 overflow-y-scroll invisible opacity-0 transition-all duration-150 rounded bg-white shadow-md min-w-full p-4 text-sm box-content"
      :class="{ 'options-opened': isOpen }"
    >
      <Checkbox :value="-1" :checked="isCheckedAll" @change="onSelectAll">
        <template #label>
          <div class="ml-3 font-semibold">Select All</div>
        </template>
      </Checkbox>

      <Checkbox
        v-for="column in columnsFullList"
        :key="column.key"
        :value="column.id"
        :checked="isChecked(column)"
        @change="onColumnsListChange"
        class="mt-4"
      >
        <template #label>
          <div class="ml-3">{{ column.title }}</div>
        </template>
      </Checkbox>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { Action, Mutation, State } from "vuex-class";

import Checkbox from "./Checkbox.vue";
import columns from "@/api/columns.json";
import { ColumnTypes } from "../interfaces";
import Arrow2Down from "@/assets/images/arrow2-down.svg";

@Component({
  components: {
    Checkbox
  }
})
export default class SelectTool extends Vue {
  @State readonly columns!: ColumnTypes[];
  @Mutation readonly addColumnList!: (id: number) => void;
  @Mutation readonly removeColumnList!: (id: number) => void;
  @Action readonly onColumnsListChange!: () => void;

  private isOpen = false;
  readonly columnsFullList: ColumnTypes[] = columns;
  Arrow2Down: string = Arrow2Down;

  isChecked(column: ColumnTypes) {
    return this.columns.includes(column);
  }

  get isCheckedAll() {
    return this.columnsFullList.every((data: ColumnTypes) =>
      this.columns.includes(data)
    );
  }

  onSelectAll({ selected }: any) {
    this.columnsFullList.forEach((column: ColumnTypes) => {
      if (selected) {
        this.addColumnList(column.id);
      } else {
        this.removeColumnList(column.id);
      }
    });
  }

  toggleSelect() {
    this.isOpen = !this.isOpen;
  }
}
</script>

<style lang="scss">
.options {
  top: 0;
  z-index: 1;
  max-height: 215px;

  &.options-opened {
    top: calc(100% + 0.75rem);
    @apply visible;
    @apply opacity-100;
  }
}
</style>
