<template>
  <div class="flex items-center">
    <span class="mr-2 font-semibold">Sorting by:</span>
    <div class="flex items-center">
      <div
        v-for="column in columns"
        :key="column.key"
        class="transition-colors duration-150"
        :class="setActiveClass(column.key)"
        @click="onSortColumnChange({ key: column.key })"
      >
        {{ column.title }}
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { Action, State } from "vuex-class";

import { ColumnTypes } from "../interfaces";

@Component
export default class SortTool extends Vue {
  @State readonly columns!: ColumnTypes[];
  @State readonly sortByColumn!: string;
  @Action readonly onSortColumnChange!: (key: string) => void;

  setActiveClass(key: string) {
    const classList = "p-2 rounded-sm";
    const dynamicClass =
      key === this.sortByColumn
        ? "bg-c-green text-white hover:text-white"
        : "hover:text-c-green cursor-pointer";

    return `${classList} ${dynamicClass}`;
  }
}
</script>

<style></style>
