<template>
  <table
    class="bg-white table-auto w-full text-left text-sm text-c-black-200 rounded"
  >
    <thead class="border-b border-c-gray-200">
      <tr class="font-semibold h-12">
        <th v-if="rowSelection" class="pl-8 pr-4 py-2 w-16">
          <Checkbox :value="-1" :checked="isCheckedAll" @change="selectAll" />
        </th>

        <th
          v-for="(column, i) in orderedColumns"
          :key="column.id"
          class="py-2 px-4"
        >
          <template v-if="i === 0">
            <div
              @click="changeOrder"
              class="inline-flex items-center cursor-pointer"
            >
              <div class="mr-2 text-c-green">{{ column.title }}</div>
              <div
                class="transition-transform duration-150 "
                :class="{ 'order-by-desc': orderByDesc }"
              >
                <img :src="ArrowUp" alt="Arrow Up" />
              </div>
            </div>
          </template>

          <template v-else>
            {{ column.title }}
          </template>
        </th>

        <td v-if="rowDeletion" class="pr-8 pl-4 py-2"></td>
      </tr>
    </thead>

    <tbody>
      <tr
        v-for="data in sortedData"
        :key="data.id"
        class="group bg-white hover:bg-c-green hover:bg-opacity-07 even:bg-c-gray-100 transition-colors duration-100 cursor-pointer h-12"
      >
        <td v-if="rowSelection" class="pl-8 pr-4 py-2 w-16">
          <Checkbox
            :value="data.id"
            :checked="isChecked(data.id)"
            @change="onRowSelect"
          />
        </td>

        <td v-for="column in orderedColumns" :key="column.id" class="py-2 px-4">
          {{ data[column.key] }}
        </td>

        <td v-if="rowDeletion" class="pr-8 pl-4 py-2">
          <div class="row-action flex justify-end">
            <Prompt :onConfirm="() => deleteProduct(data.id)">
              <div class="inline-flex items-center">
                <img :src="Trash" alt="Trash" />
                <span class="ml-2 text-c-black-200">delete</span>
              </div>
            </Prompt>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Action, Getter, Mutation, State } from "vuex-class";

import ArrowUp from "@/assets/images/arrow-up.svg";
import Trash from "@/assets/images/trash.svg";
import Checkbox from "./Checkbox.vue";
import Prompt from "./Promt.vue";
import { ProductTypes, ColumnTypes } from "@/interfaces";

@Component({
  components: {
    Checkbox,
    Prompt
  }
})
export default class Table extends Vue {
  @Prop({ type: Boolean, default: false }) readonly rowSelection!: boolean;
  @Prop({ type: Boolean, default: false }) readonly rowDeletion!: boolean;

  @State readonly selectedRowKeys!: number[];
  @State readonly orderByDesc!: string;
  @Getter readonly sortedData!: ProductTypes[];
  @Getter readonly orderedColumns!: ColumnTypes[];
  @Mutation readonly changeOrder!: () => void;
  @Action readonly onSelectAllRows!: (selected: any) => void;
  @Action readonly onRowSelect!: () => void;
  @Action readonly removeProducts!: (products: number) => void;

  ArrowUp: string = ArrowUp;
  Trash: string = Trash;

  isChecked(id: number): boolean {
    return this.selectedRowKeys.includes(id);
  }

  get isCheckedAll() {
    return (
      this.sortedData.length > 0 &&
      this.sortedData.every(({ id }) => this.selectedRowKeys.includes(id))
    );
  }

  selectAll({ selected }: any) {
    this.onSelectAllRows({ selected, value: this.sortedData });
  }

  deleteProduct(id: number): void {
    this.removeProducts(id);
  }
}
</script>

<style lang="scss">
.order-by-desc {
  @apply origin-center;
  @apply transform;
  @apply rotate-180;
}

/* table {
  tr {
    &:hover {
      .row-action {
        @apply opacity-100;
        @apply visible;
      }
    }
  }
}
.row-action {
  @apply opacity-0;
  @apply invisible;
} */
</style>
