<template>
  <div class="py-4 px-8 font-body bg-c-gray-100 h-screen">
    <Alert />

    <div id="app" class="container mx-auto">
      <div class="border-b border-c-gray-200 py-4">
        <h1 class="text-3xl font-semibold">Table UI</h1>
      </div>

      <div class="flex items-center justify-between py-4">
        <SortTool />

        <div class="flex items-center">
          <Prompt
            :onConfirm="deleteChosenProducts"
            :visibilityCondition="!!selectedRowKeys.length"
          >
            <div
              class="py-2 px-4 mx-2 border transition-all duration-300 rounded-sm"
              :class="deleteButtonClass"
            >
              {{ deleteButtonText }}
            </div>
          </Prompt>

          <Paginator />

          <SelectTool class="ml-2" />
        </div>
      </div>

      <Table :rowSelection="true" :rowDeletion="true" />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { Action, Getter, State } from "vuex-class";

import Alert from "./components/Alert.vue";
import Prompt from "./components/Promt.vue";
import Table from "./components/Table.vue";
import SortTool from "./components/SortTool.vue";
import Paginator from "./components/Paginator.vue";
import SelectTool from "./components/SelectTool.vue";
import { ProductTypes, ColumnTypes } from "@/interfaces";

@Component({
  components: {
    Alert,
    Prompt,
    SortTool,
    Paginator,
    SelectTool,
    Table
  }
})
export default class App extends Vue {
  @State readonly columns!: ColumnTypes[];
  @State readonly selectedRowKeys!: ProductTypes["id"][];
  @Getter readonly sortedData!: ProductTypes[];
  @Action readonly fetchProducts!: () => void;
  @Action readonly removeProducts!: (products: number[]) => void;

  deleteChosenProducts(): void {
    this.removeProducts(this.selectedRowKeys);
  }

  get deleteButtonText() {
    return `Delete${
      this.selectedRowKeys.length ? ` (${this.selectedRowKeys.length})` : ""
    }`;
  }

  get deleteButtonClass() {
    return this.selectedRowKeys.length
      ? "border-c-green bg-c-green text-white cursor-pointer hover:bg-opacity-75"
      : "border-c-gray-300 text-c-gray-300";
  }

  created() {
    this.fetchProducts();
  }
}
</script>
